doctype
html(lang="fr")
  head
    title Flex Grid Test 1
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
   
    // CSS
    link(rel="stylesheet", type="text/css", href="css/flexstyles.css")

    
    // Début Body
    
    body
      .wrapper
        .box.a A
        .box.b B
        .box.c C
        .box.d D
        .box.e E
        .box.f F
        .box.g G
      
